/* ============================================================
   样式重置
   ============================================================ */

/* 重置样式 [[*/
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,form,fieldset,legend,input,select,textarea,button,th,td,menu,article{margin:0;padding:0;font-family: "微软雅黑";}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select{display:block;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{font-size:100%;font-weight:100;vertical-align:middle;}
ul,dl,ol{list-style:none;}
img,fieldset,input[type="submit"]{border:none;}
input{outline:none;background:transparent;vertical-align:top;}	
table{border-collapse:collapse;border-spacing:0;}		
button{cursor:pointer;border:none;}
textarea{word-wrap:break-word;resize:none;background:transparent;}
/* 去除IE下拉菜单箭头 */
select::-ms-expand{display:none;}
/* 去除IE下radio、checkbox默认样式 */
::-ms-check{display:none;}
/* 去除输入框、文本域默认边框和IOS4下的内阴影 */
input, textarea, select{-webkit-appearance:none;border:none;outline:none;}
/* 设置Gecko内核下输入框属性placeholder中值的文件颜色 */
input:-moz-placeholder{color:#C4C4C4;}
/* 设置webkit内核下输入框属性placeholder中值的文件颜色 */
::-webkit-input-placeholder{color:#C4C4C4;}
body{background:#EAEAEA;font-family:"Helvetica";-webkit-user-select:none;/* 禁止选中文本 */-webkit-tap-highlight-color:rgba(0,0,0,0.1);/* 设置点击链接时遮罩层为全透明 */}
/* 设置webkit内核下文字大小不小于12px */
html,body{-webkit-text-size-adjust:none;height:100%;}
/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,button,input{-webkit-touch-callout:none;outline:none;}
a,a:visited{text-decoration:none;-webkit-touch-callout:none;}
/* HTML5 ]] */

.index{padding-top: 10px;}
.upload-pic{
	margin: 0 auto;
	width: 15.5rem;
	height: 15.5rem;
	position: relative;
	background: #fff;
}
.upload-pic .icon-paizhao{
	background: #333 url(../img/icon-paizhao.png) center center no-repeat;
	background-size: 30px 25px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%,);
	-webkit-transform:translate(-50%, -50%);
}

.upload-pic .page{
	width: 100%;
	height: 100%;
    position: relative;
}
.image-wrapper{
	position: relative;
}
.image-wrapper,.image-wrapper img{
    -webkit-user-drag: none;
	width: 100%;
}

.footer{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background: #333;
	display: -webkit-box;  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;    /* 老版本语法: Firefox (buggy) */ 
	display: -ms-flexbox;  /* 混合版本语法: IE 10 */
	display: -webkit-flex;  /* 新版本语法： Chrome 21+ */
	display: flex;       /* 新版本语法： Opera 12.1, Firefox 22+ */
}
.footer button{
	flex : 1;
	height: 100%;
	background: #333;
}
.footer .btn-back{
	background: #333 url(../img/icon-back.png) center center no-repeat;
	background-size: 20px 20px;
	border-right: 1px solid #000;
}
.footer .btn-ok{
	background: #333 url(../img/icon-ok.png) center center no-repeat;
	background-size: 20px 20px;
	border-right: 1px solid #000;
}